body {
	background-color: #323232 !important;
}

#main {
	background-color: #1d1d1d;
	height: 560px;
	width: 620px;
	margin: 10% auto 0;
	text-align: center;
    border-radius: 4px;
    border: none;
}

#content {
	display: table-cell; 
	vertical-align: middle;
}

#pack_size_div,
#product_div,
#qty_div {
	width: 30%;
	display: inline-block;
}

#location_div {
	width: 100%;
	display: inline-block;
}

#zip_input {
	font-size: 30px;
	text-align: center;
	width: 250px;
	display: inline-block;
}

#display_main {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	height: 80px;
}

#send_button {
    z-index: 10;
	width: 100%;
    height: 40px;
	border: none;
    color: black;
    font-size: 25px;
}

.button-enabled {
    background-color: #264466;
    border-radius: 6px;
    transition: border-radius 0.5s;
}

.button-enabled:hover {
    background-color: #2d5281;
    border-radius: 20px;
    transition: border-radius 0.5s;
}

.button-disabled {
	background-color: #a2a2a2;
}

input,
select {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border-radius: 4px;
    border: none;
    background-color: #5a5a5a;
    color: black !important;
}

select {
	width: 180px;
}

h1 {
	font-size: 40px !important;
	color: #737373 !important;
}

h3 {
	color: #737373 !important;
}

h4 {
    font-size: 14px !important;
	color: #737373 !important;
    margin: 30px 0 0 !important;
}

hr {
	margin-bottom: 0 !important;
	border-color: #5a5a5a !important;
}

#location_display {
	width: 50%;
	height: 26px;
	font-size: 22px;
	display: inline-block;
	border-bottom: 1px solid #5a5a5a;
    color: 'red';
}

#amount_display {
	font-size: 108px;
	color: #4e8a4e;
	width: 560px;
	height: 120px;
	display: inline-block;
	border-radius: 4px;
}

#location_head {
	text-align: left !important;
	margin-left: 40px;
}

#service_display,
#breakdown_display {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 16px;
	height: 24px;
	color: #7b7b7b;
	font-style: italic;
}

#breakdown_display {
	border-bottom: 1px solid #5a5a5a;
}

#service_display {
    margin-top: 10px;
}

.checkbox_container {
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 20px;
}

.checkbox_label {
    width: 100%;
    display: inline-block;
    position: relative;
}

#cod_label {
}

#liftgate_label {
    z-index: 1;
}

#button_container {
    width: 300px;
    display: inline-block;
}

#checkbox_labels {
    height: 30px;
}